/* cyrillic-ext */
@font-face {
  font-family: "Gabriela";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/gabriela/v14/qkBWXvsO6sreR8E-b8m0xLtlmgzDCNg.woff2)
    format("woff2");
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: "Gabriela";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/gabriela/v14/qkBWXvsO6sreR8E-b8m9xLtlmgzDCNg.woff2)
    format("woff2");
  unicode-range: U+0301, U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin */
@font-face {
  font-family: "Gabriela";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/gabriela/v14/qkBWXvsO6sreR8E-b8m5xLtlmgzD.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
/* fonts css start */
@font-face {
  font-family: "jf";
  src: url("../fonts/jf.ttf");
}
/* fonts css end */

/* website setting css start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "jf";
  scroll-behavior: smooth;
  /* background-color: #f2f1ec; */
}
:root {
  --black: #333;
  --black2: #333;
  --white: #fff;
  --white2: #fff;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}

.main {
  padding: 0px;
}

/* website setting css end */

/* buttons' css start */
#startBtn {
  background-color: transparent;
  text-align: center;
}
#leftbutton {
  background-color: transparent;
  position: absolute;
  left: 1px;
  top: 16%;
}
#rightbutton {
  background-color: transparent;
  position: absolute;
  right: 1px;
  top: 15%;
}
#share {
  background-color: transparent;
  position: absolute;
  left: 80px;
  top: 70%;
}
#playagain {
  background-color: transparent;
  position: absolute;
  left: 5px;
  top: 70%;
}
.button {
  background-color: transparent;
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 35%;
  bottom: 0;
  margin: auto;
}
.button2 {
  background-color: transparent;
  display: none;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 63%;
  bottom: 0;
  margin: auto;
}

@keyframes greenPulse {
  from {
    -webkit-box-shadow: 0 0 1px #efefef;
  }
  50% {
    -webkit-box-shadow: 0 0 18px #fdfdfd;
  }
  to {
    -webkit-box-shadow: 0 0 9px #3e3e3e;
  }
}

p.enter {
  color: #090808;
  font-size: 2em;
  font-family: "Gabriela";
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
}

div.cirrcle {
  margin: 100px auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}
button {
  background-color: transparent;
}
img {
  background-color: transparent;
}
.cirrcle {
  position: absolute;
  background-color: transparent;
  -moz-border-radius: 200px/200px;
  -webkit-border-radius: 200px 200px;
  border-radius: 200px/200px;
  border: 1px solid #fdfdfd;
  width: 200px;
  height: 200px;
  outline: none;
  animation-name: greenPulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.cirrcle:hover {
  box-shadow: 0 0 2px #fdfdfd;
  -webkit-box-shadow: 0 0 2px #fdfdfd;
  -moz-box-shadow: 0 0 2px #fdfdfd;
  border: 1px solid #fdfdfd;
}

.log-in {
  font-family: "Gabriela", serif;
  padding-top: 70px;
  color: #222324;
}
/* buttons' css  end */

/* video's css start */
.videoClass {
  position: relative;
  text-align: center;
}
.video2 {
  display: none;
}
/* video's css end */

/* blow time start */
figure {
  margin: 0 0 1rem;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translate(-50%, 10%);
}

#gif {
  width: 400px;
}

/* blow time end */
